
.letrero {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: gray;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.letrero h1 {
  text-align: center;
  color: rgb(4, 0, 255);
}
.backup {
  position: absolute;
  text-align: center;
  height: 50px;
  background-color: gray;
  font-size: 20px;
  color: rgb(0, 0, 0);
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
