
<div class="container my-5 ">
  <div class="row">
    <div class="col-6 offset-3">

      <div class="form">
        <h1>Editar Cliente</h1>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Seleccionar</label>
          <select [(ngModel)]="ClienteSeleccionado" class="form-control">
            <option *ngFor="let cliente of clientes" value="{{ cliente._id }}">{{ cliente.FirstName }}
              {{ cliente.LastName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombre</label>
          <input type="text" [(ngModel)]="nombre" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>



        <div class="form-group">
          <label for="exampleFormControlInput1">Apellido</label>
          <input type="text" [(ngModel)]="apellido" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>


        <div class="form-group">
          <label for="exampleFormControlInput1">Direccion</label>
          <input type="text" [(ngModel)]="direccion" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Distrito</label>
          <input type="text" [(ngModel)]="distrito" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>


        <div class="form-group">
          <label for="exampleFormControlInput1">Estado</label>
          <input type="text" [(ngModel)]="estado" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">País</label>
          <input type="text" [(ngModel)]="ciudad" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <button class="btn btn-primary btn-block" (click)="editar(
        ClienteSeleccionado,
        direccion,
        ciudad,
        estado,
        distrito,
        nombre,
        apellido
      )" type="submit">
          Editar
        </button>
      </div>

    </div>
  </div>
</div>
