<div class="container my-5 ">
  <table class="table">

    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Direccion</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Estado</th>
        <th scope="col">Distrito</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>

    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente._id }}</td>
      <td>{{ cliente.FirstName }} {{ cliente.LastName }}</td>
      <td>{{ cliente.Address }}</td>
      <td>{{ cliente.City }}</td>
      <td>{{ cliente.Country }}</td>
      <td>{{ cliente.District }}</td>
      <td>
        <button (click)="desactivar(cliente._id)" class="btnDelete">
          <img src="../../../assets/trash-can_115312.ico" alt="" />
        </button>
      </td>
    </tr>
  </table>

</div>
